.App {
  text-align: center;
}


.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:200px;
  width:200px;
}

h2, h1 {
  color: #9369a8
 }

 h3, medium {
   color: #33137D
 }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home__pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 
}

.home__tag{
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
